Package: com.dekesto.minimalcameraios9
Name: MinimalCamera (iOS 9)
Depends: mobilesubstrate, preferenceloader, firmware (>= 9)
Architecture: iphoneos-arm
Description: Camera tweak for the minimalist
Maintainer: Dekesto
Author: Dekesto
Section: Tweaks
Version: 1.2.0-2
Installed-Size: 612
